.wrappper {
  width: 1600px;
  height: 100%;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  // border: 1px solid red;
}
